<!--<nav class="navbar navbar-dark navbar-expand-md jh-navbar">-->
<!--<div class="jh-logo-container float-left">-->
<!--<a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">-->
<!--<i class="fa fa-bars"></i>-->
<!--</a>-->
<a class="navbar-brand logo float-left" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span jhiTranslate="global.title" class="navbar-title">Recambios2uso</span> <span
    class="navbar-version">{{version}}</span>
</a>
<!--</div>-->
<!--<div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">-->
<!--<ul class="navbar-nav ml-auto">-->
<!--<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link" routerLink="/" (click)="collapseNavbar()">-->
<!--<span>-->
<!--<i class="fa fa-home" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.home">Home</span>-->
<!--</span>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash; jhipster-needle-add-element-to-menu - JHipster will add new menu items here &ndash;&gt;-->
<!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">-->
<!--<span>-->
<!--<i class="fa fa-th-list" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.main">-->
<!--Entities-->
<!--</span>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="atributo" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.atributo">Atributo</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="recambio" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.recambio">Recambio</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="marca" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.marca">Marca</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="desguace" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.desguace">Desguace</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="direccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.entities.direccion">Direccion</span>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash; jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here &ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--<li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">-->
<!--<span>-->
<!--<i class="fa fa-user-plus" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.main">Administration</span>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-user" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.userManagement">User management</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="jhi-metrics" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.metrics">Metrics</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="jhi-health" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-heart" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.health">Health</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="jhi-configuration" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-list" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.configuration">Configuration</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-bell" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.audits">Audits</span>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-tasks" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.logs">Logs</span>-->
<!--</a>-->
<!--</li>-->
<!--<li *ngIf="swaggerEnabled">-->
<!--<a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-book" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.admin.apidocs">API</span>-->
<!--</a>-->
<!--</li>-->
<!--&lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;-->
<!--</ul>-->
<!--</li>-->
<!--<li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">-->
<!--<span>-->
<!--<i class="fa fa-flag" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.language">Language</span>-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">-->
<!--<li *ngFor="let language of languages">-->
<!--<a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">-->
<!--<span *ngIf="!getImageUrl()">-->
<!--<i class="fa fa-user" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.main">-->
<!--Account-->
<!--</span>-->
<!--</span>-->
<!--<span *ngIf="getImageUrl()">-->
<!--<img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">-->
<!--</span>-->
<!--</a>-->
<!--<ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>-->
<!--<li *ngSwitchCase="true">-->
<!--<a class="dropdown-item" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-wrench" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.settings">Settings</span>-->
<!--</a>-->
<!--</li>-->
<!--<li *ngSwitchCase="true">-->
<!--<a class="dropdown-item" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.password">Password</span>-->
<!--</a>-->
<!--</li>-->
<!--<li *ngSwitchCase="true">-->
<!--<a class="dropdown-item" (click)="logout()" id="logout">-->
<!--<i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.logout">Sign out</span>-->
<!--</a>-->
<!--</li>-->
<!--<li *ngSwitchCase="false">-->
<!--<a class="dropdown-item" (click)="login()" id="login">-->
<!--<i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.login">Sign in</span>-->
<!--</a>-->
<!--</li>-->
<!--<li *ngSwitchCase="false">-->
<!--<a class="dropdown-item" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">-->
<!--<i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>-->
<!--<span jhiTranslate="global.menu.account.register">Register</span>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<section class="vt_wrapper_drawer vt_section">
    <div class="container vt_group">
        <div class="vt_drawer row-fluid clearfix" id="vt_drawer">
            <div class="col-md-8 hidden-sm hidden-xs vt_block">
                <div class="vt_moduletable clearfix moduletable TopMenu pull-left">
                    <div class="vt_moduletable_content">
                        <ul class="nav menu">
                            <li class="item-178"><a href="/pedidos"><i class="fa fa-angle-right"> &nbsp; </i>Mi
                                cuenta</a></li>
                            <li class="item-179"><a href="/mis-pedidos"><i class="fa fa-angle-right"> &nbsp; </i>Mis
                                pedidos</a></li>
                            <li class="item-180"><a href="/ayuda"><i class="fa fa-angle-right"> &nbsp; </i>Ayuda</a>
                            </li>
                            <li class="item-181"><a href="/contacto"><i class="fa fa-angle-right">
                                &nbsp; </i>Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 separator_drawer vt_block">
                <div class="vt_moduletable clearfix moduletable">
                    <div class="vt_moduletable_content">
                        <form action="/tienda/search" method="get" novalidate=""
                              class="ng-untouched ng-pristine ng-valid">
                            <div class="vt_moduletable_content"><input alt="Buscar" class="" id="mod_virtuemart_search"
                                                                       maxlength="20" name="keyword"
                                                                       onblur="if(this.value=='') this.value='Búsqueda por referencia';"
                                                                       onfocus="if(this.value=='Búsqueda por referencia') this.value='';"
                                                                       size="20" type="text"
                                                                       value="Búsqueda por referencia"><input
                                class="btn btn-primary cf_apply_button" onclick="this.form.keyword.focus();"
                                type="submit" value="Buscar"></div>
                            <input name="limitstart" type="hidden" value="0"> <input name="option" type="hidden"
                                                                                     value="com_virtuemart"> <input
                            name="view" type="hidden" value="category"> <input name="virtuemart_category_id"
                                                                               type="hidden" value="0"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="vt_wrapper_header vt_section">
    <div class="container vt_group">
        <div class="vt_header row-fluid clearfix" id="vt_header">
            <div class="col-md-3 col-sm-4 col-xs-6 vt_block"><a href="https://www.recambiosgarcia.es/" id="vt_logo"><img
                alt="Logo"
                src="/content/images/logo.png"> </a>
            </div>
            <div class="col-md-9 vt-main-header col-sm-8 col-xs-6 separator_header vt_block">
                <div class="vt_menufix clearfix" id="vt_main_menu">
                    <div class="oHorizontal-wrapper navbar-inner default menu mega-menu-wrapper clearfix"><span
                        class="menu-stick">Menu</span>
                        <ul class="nav menuvtem_nav mega-menu oHorizontal main-mega-menu mega-menu-stick"
                            id="vtemdefaultmenu" style="width: 100%; display: none">
                            <li class="item-101 current active menu-item-first" style="display: list-item"><a
                                href="/"><i class="fa fa-angle-right"> &nbsp; </i>INICIO</a></li>
                            <li class="item-226" style="display: list-item"><a href="/noticias"><i
                                class="fa fa-angle-right"> &nbsp; </i>NOTICIAS</a></li>
                            <li class="item-208" style="display: list-item"><a href="/nosotros"><i
                                class="fa fa-angle-right"> &nbsp; </i>NOSOTROS</a></li>
                            <li class="item-209" style="display: list-item"><a href="/presupuesto"><i
                                class="fa fa-angle-right"> &nbsp; </i>SOLICITAR PRESUPUESTO</a></li>
                            <li class="item-210 menu-item-last" style="display: list-item"><a
                                href="/garantia-y-devolucion"><i class="fa fa-angle-right"> &nbsp; </i>GARANTÍA Y
                                DEVOLUCIÓN</a></li>
                        </ul>
                    </div>
                </div>
                <div class="vt_moduletable clearfix moduletable">
                    <div class="vt_moduletable_content">
                        <div class="FlexibleVM3Cart" id="FlexibleVM3Cart">
                            <div id="flexible_hiddencontainer" style="display: none">
                                <div class="flexibleCartContainer">
                                    <div class="flexible_product_row">
                                        <div class="flexible_image"></div>
                                        <div class="subtotal_with_tax"></div>
                                        <div class="product_name"></div>
                                        <div class="product_sku"></div>
                                        <div class="quantity"></div>
                                        <div class="product_cart_id" id="flexible_remove"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <a class="flexible_cart_icon" href="/tienda/cart"> <span class="flexibleNumber"> 0 </span>
                            </a>
                            <div class="flexibleDropdown" style="display: none">
                                <div class="flexible-loading" style="display:none"></div>
                                <div class="flexibleCartTitle">Carro de compra</div>
                                <div class="flexible_cart_products">
                                    <div class="flexibleEmpty">No hay productos en su carro.</div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="flexibleTotal" style="float: right"></div>
                                <div class="flexibleShow_cart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
