<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRecambioLabel" jhiTranslate="recambios2UsoApp.recambio.home.createOrEditLabel">Create or edit a Recambio</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!recambio.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="recambio.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.referencia" for="field_referencia">Referencia</label>
            <input type="text" class="form-control" name="referencia" id="field_referencia"
                [(ngModel)]="recambio.referencia" required minlength="3" maxlength="50" />
            <div [hidden]="!(editForm.controls.referencia?.dirty && editForm.controls.referencia?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.referencia?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.referencia?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.referencia?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="recambio.nombre" required />
            <div [hidden]="!(editForm.controls.nombre?.dirty && editForm.controls.nombre?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nombre?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.tipo" for="field_tipo">Tipo</label>
            <select class="form-control" name="tipo" [(ngModel)]="recambio.tipo" id="field_tipo"  required>
                <option value="FRENADO">{{'recambios2UsoApp.Tipo.FRENADO' | translate}}</option>
                <option value="FILTROS">{{'recambios2UsoApp.Tipo.FILTROS' | translate}}</option>
                <option value="REFRIGERACION">{{'recambios2UsoApp.Tipo.REFRIGERACION' | translate}}</option>
                <option value="SUSPENSION">{{'recambios2UsoApp.Tipo.SUSPENSION' | translate}}</option>
                <option value="DIRECCION">{{'recambios2UsoApp.Tipo.DIRECCION' | translate}}</option>
                <option value="EMBRAGUE">{{'recambios2UsoApp.Tipo.EMBRAGUE' | translate}}</option>
                <option value="TRANSMISION">{{'recambios2UsoApp.Tipo.TRANSMISION' | translate}}</option>
                <option value="DISTRIBUCION">{{'recambios2UsoApp.Tipo.DISTRIBUCION' | translate}}</option>
                <option value="ESCAPE">{{'recambios2UsoApp.Tipo.ESCAPE' | translate}}</option>
                <option value="OTRO">{{'recambios2UsoApp.Tipo.OTRO' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                [(ngModel)]="recambio.descripcion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.precio" for="field_precio">Precio</label>
            <input type="number" class="form-control" name="precio" id="field_precio"
                [(ngModel)]="recambio.precio" required />
            <div [hidden]="!(editForm.controls.precio?.dirty && editForm.controls.precio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.precio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.precio?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.reclamoPublicitario" for="field_reclamoPublicitario">Reclamo Publicitario</label>
            <input type="text" class="form-control" name="reclamoPublicitario" id="field_reclamoPublicitario"
                [(ngModel)]="recambio.reclamoPublicitario"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.disponibilidad" for="field_disponibilidad">Disponibilidad</label>
            <input type="checkbox" class="form-control" name="disponibilidad" id="field_disponibilidad"
                [(ngModel)]="recambio.disponibilidad"  />
            <div [hidden]="!(editForm.controls.disponibilidad?.dirty && editForm.controls.disponibilidad?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.disponibilidad?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="recambios2UsoApp.recambio.exposicion" for="field_exposicion">Exposicion</label>
            <input type="checkbox" class="form-control" name="exposicion" id="field_exposicion"
                [(ngModel)]="recambio.exposicion"  />
            <div [hidden]="!(editForm.controls.exposicion?.dirty && editForm.controls.exposicion?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.exposicion?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
