<div>
    <h2>
        <span jhiTranslate="recambios2UsoApp.recambio.home.title">Recambios</span>
        <button class="btn btn-primary float-right jh-create-entity create-recambio" [routerLink]="['/', { outlets: { popup: ['recambio-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="recambios2UsoApp.recambio.home.createLabel">
            Create new Recambio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="recambios">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="referencia"><span jhiTranslate="recambios2UsoApp.recambio.referencia">Referencia</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="recambios2UsoApp.recambio.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tipo"><span jhiTranslate="recambios2UsoApp.recambio.tipo">Tipo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="recambios2UsoApp.recambio.descripcion">Descripcion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="precio"><span jhiTranslate="recambios2UsoApp.recambio.precio">Precio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reclamoPublicitario"><span jhiTranslate="recambios2UsoApp.recambio.reclamoPublicitario">Reclamo Publicitario</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="disponibilidad"><span jhiTranslate="recambios2UsoApp.recambio.disponibilidad">Disponibilidad</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="exposicion"><span jhiTranslate="recambios2UsoApp.recambio.exposicion">Exposicion</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recambio of recambios ;trackBy: trackId">
                <td><a [routerLink]="['../recambio', recambio.id ]">{{recambio.id}}</a></td>
                <td>{{recambio.referencia}}</td>
                <td>{{recambio.nombre}}</td>
                <td jhiTranslate="{{'recambios2UsoApp.Tipo.' + recambio.tipo}}">{{recambio.tipo}}</td>
                <td>{{recambio.descripcion}}</td>
                <td>{{recambio.precio}}</td>
                <td>{{recambio.reclamoPublicitario}}</td>
                <td>{{recambio.disponibilidad}}</td>
                <td>{{recambio.exposicion}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../recambio', recambio.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recambio/'+ recambio.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recambio/'+ recambio.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="recambios && recambios.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
