
<div *ngIf="recambio">
    <h2><span jhiTranslate="recambios2UsoApp.recambio.detail.title">Recambio</span> {{recambio.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="recambios2UsoApp.recambio.referencia">Referencia</span></dt>
        <dd>
            <span>{{recambio.referencia}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.nombre">Nombre</span></dt>
        <dd>
            <span>{{recambio.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.tipo">Tipo</span></dt>
        <dd>
            <span jhiTranslate="{{'recambios2UsoApp.Tipo.' + recambio.tipo}}">{{recambio.tipo}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{recambio.descripcion}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.precio">Precio</span></dt>
        <dd>
            <span>{{recambio.precio}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.reclamoPublicitario">Reclamo Publicitario</span></dt>
        <dd>
            <span>{{recambio.reclamoPublicitario}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.disponibilidad">Disponibilidad</span></dt>
        <dd>
            <span>{{recambio.disponibilidad}}</span>
        </dd>
        <dt><span jhiTranslate="recambios2UsoApp.recambio.exposicion">Exposicion</span></dt>
        <dd>
            <span>{{recambio.exposicion}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recambio/'+ recambio.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
